/* 
    Created on : Mar 21, 2016, 10:28:57 PM
    Author     : Valencia
*/

body{
    width: 100%;
    height: 400px;
    background-color: gray;
    position: relative;
}
main{
    width: 50%;
    margin: 0 auto;
}
/*clases para agregar los efectos (primeros test)*/
.RelioRight{
    
}
.testTag{
    background-color: #674172;
}
.testTagA{
    background-color: teal;
}